<a href="https://colab.research.google.com/github/Thota-naga-venkata-pramod/data-structures-and-algorthims/blob/me/python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
2+3

5

In [ ]:
"navin"

'navin'

In [ ]:
print("pramod")

pramod

In [ ]:
"thota"+" "+"naga venkata pramod"

'thota naga venkata pramod'

In [ ]:
print("\naveen")

aveen

In [ ]:
print(r"\naveen")             #where r is raw string which don't care for any rule in python

\naveen

In [ ]:
x=5
y=x+5
y

10

In [ ]:
x+y   #from above values

15

#built-in functions

abs()	Returns the absolute value of a number

all()	Returns True if all items in an iterable object are true

any()	Returns True if any item in an iterable object is true

ascii()	Returns a readable version of an object. Replaces none-ascii characters 
with escape character

bin()	Returns the binary version of a number

bool()	Returns the boolean value of the specified object

bytearray()	Returns an array of bytes

bytes()	Returns a bytes object

callable()	Returns True if the specified object is callable, otherwise False

chr()	Returns a character from the specified Unicode code.

classmethod()	Converts a method into a class method

compile()	Returns the specified source as an object, ready to be executed

complex()	Returns a complex number

delattr()	Deletes the specified attribute (property or method) from the 
specified object

dict()	Returns a dictionary (Array)

dir()	Returns a list of the specified object's properties and methods

divmod()	Returns the quotient and the remainder when argument1 is divided by argument2

enumerate()	Takes a collection (e.g. a tuple) and returns it as an enumerate object

eval()	Evaluates and executes an expression

exec()	Executes the specified code (or object)

filter()	Use a filter function to exclude items in an iterable object

float()	Returns a floating point number

format()	Formats a specified value

frozenset()	Returns a frozenset object

getattr()	Returns the value of the specified attribute (property or method)

globals()	Returns the current global symbol table as a dictionary

hasattr()	Returns True if the specified object has the specified attribute (property/method)

hash()	Returns the hash value of a specified object

help()	Executes the built-in help system

hex()	Converts a number into a hexadecimal value

id()	Returns the id of an object

input()	Allowing user input

int()	Returns an integer number

isinstance()	Returns True if a specified object is an instance of a specified object

issubclass()	Returns True if a specified class is a subclass of a specified object

iter()	Returns an iterator object

len()	Returns the length of an object

list()	Returns a list

locals()	Returns an updated dictionary of the current local symbol table

map()	Returns the specified iterator with the specified function applied to each item

max()	Returns the largest item in an iterable

memoryview()	Returns a memory view object

min()	Returns the smallest item in an iterable

next()	Returns the next item in an iterable

object()	Returns a new object

oct()	Converts a number into an octal

open()	Opens a file and returns a file object

ord()	Convert an integer representing the Unicode of the specified character

pow()	Returns the value of x to the power of y

print()	Prints to the standard output device

property()	Gets, sets, deletes a property

range()	Returns a sequence of numbers, starting from 0 and increments by 1 (by 
default)

repr()	Returns a readable version of an object

reversed()	Returns a reversed iterator

round()	Rounds a numbers

set()	Returns a new set object

setattr()	Sets an attribute (property/method) of an object

slice()	Returns a slice object

sorted()	Returns a sorted list

staticmethod()	Converts a method into a static method

str()	Returns a string object

sum()	Sums the items of an iterator

super()	Returns an object that represents the parent class

tuple()	Returns a tuple

type()	Returns the type of an object

vars()	Returns the __dict__ property of an object

zip()	Returns an iterator, from two or more iterators

#string

strings are immutable

In [ ]:
name="youtube"
name[0]

'e'

In [ ]:
name[8]

IndexError: ignored

In [ ]:
name[-1]     #negative means from back

'e'

In [ ]:
name[-4]

't'

In [ ]:
print(name[0])

y

In [ ]:
print(name[0:3])

you

In [ ]:
print(name[3:10])

tube

In [ ]:
name[0:3]="my"

TypeError: ignored

In [ ]:
"my "+name[3:]     #3 to so on.......

'my tube'

In [ ]:
len("sir")

3

In [ ]:
myname="thota naga venkata pramod"
len(myname)                   #length includes space also

25

In [ ]:
myname.append("hi")

NameError: ignored

#string methods

capitalize()	Converts the first character to upper case

casefold()	Converts string into lower case

center()	Returns a centered string

count()	Returns the number of times a specified value occurs in a string

encode()	Returns an encoded version of the string

endswith()	Returns true if the string ends with the specified value

expandtabs()	Sets the tab size of the string

find()	Searches the string for a specified value and returns the position of where it was found

format()	Formats specified values in a string

format_map()	Formats specified values in a string

index()	Searches the string for a specified value and returns the position of where it was found

isalnum()	Returns True if all characters in the string are alphanumeric

isalpha()	Returns True if all characters in the string are in the alphabet

isascii()	Returns True if all characters in the string are ascii characters

isdecimal()	Returns True if all characters in the string are decimals

isdigit()	Returns True if all characters in the string are digits

isidentifier()	Returns True if the string is an identifier

islower()	Returns True if all characters in the string are lower case

isnumeric()	Returns True if all characters in the string are numeric

isprintable()	Returns True if all characters in the string are printable

isspace()	Returns True if all characters in the string are whitespaces

istitle()	Returns True if the string follows the rules of a title

isupper()	Returns True if all characters in the string are upper case

join()	Converts the elements of an iterable into a string

ljust()	Returns a left justified version of the string

lower()	Converts a string into lower case

lstrip()	Returns a left trim version of the string

maketrans()	Returns a translation table to be used in translations

partition()	Returns a tuple where the string is parted into three parts

replace()	Returns a string where a specified value is replaced with a specified value

rfind()	Searches the string for a specified value and returns the last position of where it was found

rindex()	Searches the string for a specified value and returns the last position of where it was found

rjust()	Returns a right justified version of the string

rpartition()	Returns a tuple where the string is parted into three parts

rsplit()	Splits the string at the specified separator, and returns a list

rstrip()	Returns a right trim version of the string

split()	Splits the string at the specified separator, and returns a list

splitlines()	Splits the string at line breaks and returns a list

startswith()	Returns true if the string starts with the specified value

strip()	Returns a trimmed version of the string

swapcase()	Swaps cases, lower case becomes upper case and vice versa

title()	Converts the first character of each word to upper case

translate()	Returns a translated string

upper()	Converts a string into upper case

zfill()	Fills the string with a specified number of 0 values at the beginning

#list

lists are mutable

In [ ]:
nums=[34,3,4,65]
nums

[34, 3, 4, 65]

In [ ]:
nums[0]

34

In [ ]:
nums[-1]

65

In [ ]:
names=["navin","kiran"]

In [ ]:
mil=[nums,names]
mil

[[34, 3, 4, 65], ['navin', 'kiran']]

In [ ]:
nums.append(409)
nums

[34, 3, 4, 65, 34, 34, 409]

In [ ]:
nums.insert(2,55)   #at second index 55 is added
nums

[34, 3, 55, 4, 65, 34, 34, 409]

In [ ]:
nums.insert([3,109],[5,45555])

TypeError: ignored

In [ ]:
nums.remove(34)
nums

[3, 55, 4, 65, 34, 409]

In [ ]:
nums.pop()

409

In [ ]:
nums

[3, 55, 4, 65, 34]

In [ ]:
nums.pop(2)

34

In [ ]:
nums.pop(-2)

65

In [ ]:
nums.pop(1,2)

TypeError: ignored

In [ ]:
nums

[3, 55]

In [ ]:
del nums[0:]      #delete the numbers in a list starting from zero 
nums

[]

In [ ]:
names.append("kishore")
names

['navin', 'kiran', 'kishore', 'kishore']

In [ ]:
letters="hwjhfdhushhafgjhadfyulghugfiuuiegf"
a=letters[::-1]          #[start:stop:iteration]
a

'fgeiuuifguhgluyfdahjgfahhsuhdfhjwh'

In [ ]:
cars = ['Ford', 'BMW', 'Volvo']

cars.sort()

print(cars)

['BMW', 'Ford', 'Volvo']

In [ ]:
cars = ['Ford', 'BMW', 'Volvo']               

cars.sort(reverse=True)

print(cars)

['Volvo', 'Ford', 'BMW']

In [ ]:
fruits = ["apple", "banana", "cherry"]       #Returns a copy of the list

x = fruits.copy()

print(x)

['apple', 'banana', 'cherry']

In [ ]:
fruits = ['apple', 'banana', 'cherry']

fruits.reverse()

In [ ]:
fruits = [4, 55, 64, 32, 16, 32]

x = fruits.index(32)

In [ ]:
fruits = ['apple', 'banana', 'cherry']    #Add the elements of a list (or any iterable), to the end of the current list

cars = ['Ford', 'BMW', 'Volvo']

fruits.extend(cars)

In [ ]:
fruits = ['apple', 'banana', 'cherry']  #return how many times the cherry is present

x = fruits.count("cherry")

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'orange']          #Remove all elements from the fruits list

fruits.clear()

#list methods

append()	Adds an element at the end of the list

clear()	Removes all the elements from the list

copy()	Returns a copy of the list

count()	Returns the number of elements with the specified value

extend()	Add the elements of a list (or any iterable), to the end of the current list

index()	Returns the index of the first element with the specified value

insert()	Adds an element at the specified position

pop()	Removes the element at the specified position

remove()	Removes the first item with the specified value

reverse()	Reverses the order of the list

sort()	Sorts the list

#Tuples

tuples are immutable

tuples are more memory efficent then compare to lists

In [ ]:
tup=(945,56,789,999)
tup

(945, 56, 789, 999)

In [ ]:
tup[1]

56

In [ ]:
tup[3]=43

TypeError: ignored

#tuple methods

count()	Returns the number of times a specified value occurs in a tuple

index()	Searches the tuple for a specified value and returns the position of where it was found

#sets
sets are mutable

collection of unique elements,by repeating in input and the output only gets unique

set doesn't take index

In [ ]:
s={22,14,98,22}
s

{14, 22, 98}

In [ ]:
s[2]

TypeError: ignored

In [ ]:
fruits = {"apple", "banana", "cherry"}          #Adds an element to the set 
                                                #instead of append "add" should be done

fruits.add("orange")

print(fruits)

{'cherry', 'apple', 'orange', 'banana'}

In [ ]:
x = {"apple", "banana", "cherry"}              #	Returns a set containing the difference between two or more sets
y = {"google", "microsoft", "apple"}

z = x.difference(y)

print(z)

{'cherry', 'banana'}

In [ ]:
x = {"apple", "banana", "cherry"}          #Returns a set, that is the intersection of two or more sets
y = {"google", "microsoft", "apple"}

z = x.intersection(y) 

print(z)

{'apple'}

In [ ]:
x = {"apple", "banana", "cherry"}                      #Returns whether two sets have a intersection or not
y = {"google", "microsoft", "facebook"}

z = x.isdisjoint(y) 

print(z)

True

In [ ]:
x = {"a", "b", "c"}                 #	Returns whether another set contains this set or not
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)

print(z)

True

In [ ]:
x = {"f", "e", "d", "c", "b", "a"}                 #Returns whether this set contains another set or not
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

True

In [ ]:
x = {"apple", "banana", "cherry"}                           #Returns a set with the symmetric differences of two sets
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'microsoft', 'google', 'banana', 'cherry'}

In [ ]:
x = {"apple", "banana", "cherry"}                          #Return a set containing the union of sets
y = {"google", "microsoft", "apple"}

z = x.union(y)

print(z)

{'microsoft', 'apple', 'google', 'banana', 'cherry'}

In [ ]:
x = {"apple", "banana", "cherry"}                       #Update the set with another set, or any other iterable
y = {"google", "microsoft", "apple"}

x.update(y)

print(x)

{'microsoft', 'apple', 'google', 'banana', 'cherry'}

#set methods

add()	Adds an element to the set

clear()	Removes all the elements from the set

copy()	Returns a copy of the set

difference()	Returns a set containing the difference between two or more sets

difference_update()	Removes the items in this set that are also included in another, specified set

discard()	Remove the specified item

intersection()	Returns a set, that is the intersection of two or more sets

intersection_update()	Removes the items in this set that are not present in other, specified set(s)

isdisjoint()	Returns whether two sets have a intersection or not

issubset()	Returns whether another set contains this set or not

issuperset()	Returns whether this set contains another set or not

pop()	Removes an element from the set

remove()	Removes the specified element

symmetric_difference()	Returns a set with the symmetric differences of two sets

symmetric_difference_update()	inserts the symmetric differences from this set and another

union()	Return a set containing the union of sets

update()	Update the set with another set, or any other iterable

#dictionary 

dictionary are mutable

which is the combination both keys and values

In [ ]:
d={'navin':'samsung','rahul':'iphone'}
d

{'navin': 'samsung', 'rahul': 'iphone'}

In [ ]:
d.keys()

dict_keys(['navin', 'rahul'])

In [ ]:
d.values()

dict_values(['samsung', 'iphone'])

In [ ]:
d["rahul"]

'iphone'

In [ ]:
d["samsung"]

KeyError: ignored

In [ ]:
x={"name":"kiran","talent":["reading","writing"]}
x["talent"]

['reading', 'writing']

In [ ]:
print(x["talent"][1])

writing

#dictionary methods

clear()	Removes all the elements from the dictionary

copy()	Returns a copy of the dictionary

fromkeys()	Returns a dictionary with the specified keys and value

get()	Returns the value of the specified key

items()	Returns a list containing a tuple for each key value pair

keys()	Returns a list containing the dictionary's keys

pop()	Removes the element with the specified key

popitem()	Removes the last inserted key-value pair

setdefault()	Returns the value of the specified key. If the key does not 
exist: insert the key, with the specified value

update()	Updates the dictionary with the specified key-value pairs

values()	Returns a list of all the values in the dictionary

#file handling

In [ ]:
x=open("/content/mydata.txt","r")     #the text file is from notepad
print(x.read())
x.close()

srk college

In [ ]:
with open("/content/mydata.txt","w") as x:

  x.write("srk college")

In [ ]:
x=open("/content/mydata.txt","r")     #the text file is from notepad
print(x.read())

srk college

#if-else statements

In [1]:
if True:
  print("i am right")

i am right

In [6]:
if False:
  print("i am right")

In [8]:
if 1:                             #where 1 is True
  print("i am right")

i am right

In [9]:
if 0:                             #where 0 is False
  print("i am right")

In [10]:
x=9
r=x%2
if r==1:
  print("odd")
print("bye")

odd
bye

In [11]:
x=8
r=x%2
if r==0:
  print("even")
if x>=6:
  print("number is high")
else:
  print("not much big")
print("bye")

even
number is high
bye

In [12]:
x=2
if(x==1):
  print("one")
elif(x==2):
  print("two")
elif(x==3):
  print("three")
else:
  print("not found")
print("bye")

two
bye

#while loop

In [19]:
i=1
while(i<=5):
   print("telusko")
   i=i+1

telusko
telusko
telusko
telusko
telusko

In [23]:
i=5
j=1
while(i>=1):
  print("telusko")
  while j<=4:
    print("rocks")
    j=j+1
  i=i-1

telusko
rocks
rocks
rocks
rocks
telusko
telusko
telusko
telusko

#for loop

In [24]:
x="navin"
for i in x:
  print(i)

n
a
v
i
n

In [25]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [26]:
for i in range(11,20,1):              #(start,stop,i=i+1)
  print(i)

11
12
13
14
15
16
17
18
19

In [28]:
for i in range(41,20,-2):              #(start,stop,i=i-2)
  print(i)

41
39
37
35
33
31
29
27
25
23
21

In [29]:
for i in range(1,20):
  if(i%5!=0):
    print(i)

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19

#break statement

In [30]:
av=5
x=int(input("how many candies you want"))
i=1
while i<=x:
  if i>av:
    print("out of stock")
    break
    print("candy")
    i++
  print("bye")

SyntaxError: ignored