<a href="https://colab.research.google.com/github/Thota-naga-venkata-pramod/data-structures-and-algorthims/blob/me/recursive%20computations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#recursive computations

depends on inductive definition 

#inductive definition

define one or more base cases

inductive step defines f(n) in terms of smaller arguments

inductive definitions gives rise to recursive programs

In [3]:
#for a factorial
def factorial(n):
  if n==0:
    return 1
  else:
    return(n*factorial(n-1))
factorial(4)

24

In [4]:
#for multiplication
def multiply(m,n):
  if n==1:
    return(m)
  else:
    return(m+multiply(m,n-1))
multiply(4,3)

12

In [9]:
#for length of a list
l=[34,4,5,6,7]
def length(l):
  if l==[]:
    return(0)
  else:
    return(1+length(l[1:]))
length(l)

5

In [10]:
#for sum of lists in a number
l=[3,4,56,87,9,]
def sumlist(l):
  if l==[]:
    return 0
  else:
    return(l[0]+sumlist(l[1:]))
sumlist(l)

159